/************************************** Search bar CSS ******************************************/


.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px ;
    /* background-color: red; */
}

.search-bar .search-section {
    width:480px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.search-section .input-div {
    width: 50%;
    border-radius: 5px;
    position: relative;
    height: auto;
    border: 1px solid #4FD1C5;
    background: white;
    display: flex;
    justify-content: start;
    padding: 5px;
}
.search-section .input-div input {
    width: 85%;
    height: 25px;
    border-radius: 5px;
    padding: 5px; 
    font-size: 15px;
    border: none;
}
.header .search-section input:focus,
.header .search-section input:hover {
    outline: none;
    box-shadow: none;
    border: none;
}
.search-section .input-div i{
    position: absolute;
    top: 16%;
    right: 10px;
    font-size: 18px;
    color: #4FD1C5;
    cursor: pointer;
}



.steps-container {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    text-align: center;
    position: relative;
    margin: 0 20px;
}

.step-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: white;
    color: #999;
    display: inline-block;
    line-height: 30px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
    border: 4px solid #e3e0de;
    transition: all 200ms ease;
    transition-delay: 0s;
}

.step-circle.active {
    transition-delay: 100ms;
    border-color: #ecae06;
    color: #4070f4;
}

.progress-bar-container .progress-indicator {
    position: absolute;
    height: 10px;
    background: linear-gradient(to right, #4070f4, green);
    transition: all 300ms ease;
    margin-top: 20px;
    border-radius: 5px;
    opacity: 0.5;
    left: 0;
}

.detail-label {
    display: inline-block;
    text-align: left;
    width: 150px;
}

.BLuedarttracking {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to right, #4070f4, green);
    width: 90%;
    margin-top: 5px;
    border-radius: 10px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    color: white;
    font-size: 18px;
}

.tab-center {
    width: 100%;
}

.shadow {
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
}

.shipment-details {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.detail-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
}

.detail-label {
    width: 350px;
}

.detail-value {
    width: 350px;
}



