
.mobile-logo {
    display: none;
}

.animate-left {
  animation: slideInLeft 0.5s ease-out forwards;
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-rtl {
  animation: slideInRTL 0.5s ease-out forwards;
}

@keyframes slideInRTL {
  from {
    opacity: 0;
    transform: translateX(60px); /* start from RIGHT */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.contain{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    width: 100vw;
    height:100vh;
    display: flex;
}
.left{
    width: 40%;
    background-color:#4FD1C5;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.left .bike{
    color: white;
    display: flex;
    justify-content: end;
    height: 350px;
    width: 100%;
}
.left .bike img{
    width:100%;
    height: 400px;
}
.left .logo{
    width:50%;
    height: 150px;
    border-radius:10% ;
}
.logo-secion{
 color: white;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 5px;
 width:70% ;
}
.logo-secion .logo-name{
    font-size: 20px;
    font-weight: bolder;
}
.right{
   width: 60%;
   height: auto;
   background-color:white;
   padding:10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.form-page{
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgb(229, 229, 229);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-page .tital
{
    font-size: 30px;
    font-weight: bold;
}
.form{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.form .input-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}
.userLogo ,.passLogo{
    position: absolute;
    top: 57%;
    right: 4%;
    cursor: pointer;
    font-size: 18px;
}
.form .input-div label{
    color: rgb(89, 89, 89);
    font-size: 20px;
    font-weight: bold;

}
.form .input-div input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    /* box-shadow: 0px 0px 1px 1px #e1e1e1; */
    width: 100%;

}
.form button{
    margin-top:10px ;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #4FD1C5;
    width: 80%;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    padding: 5px;
}
.account{
    color: gray;
}
.account span{
    color:#4FD1C5;
    margin-left:5px ;
    cursor: pointer;
}
/* Tablet */
@media (min-width: 576px) and (max-width: 992px) 
 {
    .left {
        display: none;
    }

    .right {
         width: 100%;
        height: 100vh;
        padding: 10px;
        background-color: #4FD1C5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-page {
        width: 60%;
        background-color:white;
        box-shadow: none;
    }
    .mobile-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .mobile-logo img {
        width: 180px;
        height: auto;
        border-radius:50% ;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .left {
        display: none;
    }

    .right {
        width: 100%;
        height: 100vh;
        padding: 10px;
        background-color: #4FD1C5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mobile-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .mobile-logo img {
        width: 120px;
        border-radius:50% ;
    }

    .form-page {
        width: 100%;
        box-shadow: none;
        background-color: white;
    }
}

